<script src="/static/admin/js/jquery.pagination.js"></script>
		<!-- inline scripts related to this page -->
        <script type="text/javascript">
             //权限按钮控制
            var noOperations = JSON.parse('{{.noOperations}}');
            deleteNoPermissionButton();

            var currentPage = 1;
            var dataList = [];
            $('.m-style').pagination({
                            pageCount:0,
                            current: 1,
                            prevContent: "上一页",
                            nextContent: "下一页",
                            jump: true,
                            callback: function (api) {
                                console.log(api.getCurrent())
                                getList(api.getCurrent() )
                            }
            });

            //获取列表
            $(function(){
                getList(1 )
            });

            function getList(page =1 ) {
                currentPage = page;
                $.ajax({
					type : "POST",
					url : "/admin/officesetting/getshowlist",
					data : { "page" : page },
					dataType: "json",
					//请求成功
					success : function(result) {
                        console.log(result);
						if ( result.Code == 000 ){
                          if(result.Data.length ==  0) {
                            
                          } else { //有数据
                            dataList =  result.Data;
                            var list = '';
                            for (let index = 0; index < result.Data.length; index++) {
                                console.log(11111);
                                let item = result.Data[index];
                                list += '<tr>';
                                list += '    <td class="center">'+item['Id']+'</td>';
                                list += '    <td class="center">'+item['SerialNumber']+'</td>';
                                list += '    <td class="center">'+item['Name']+'</td>';
                                list += '    <td class="center">'+item['AddTime']+'</td>';
                                list += '    <td class="center">';
                                list += '        <button class="btn btn-white btn-warning btn-round permission-modify" onclick="modifyOffice('+index+',\''+item['Id']+'\')">';
                                list += '                <i class="ace-icon fa fa-certificate bigger-110 orange"></i>';
                                list += '                修改办公室';
                                list += '        </button>';
                                list += '        <button class="btn btn-white btn-danger btn-round permission-delete" onclick="deleteOffice(\''+item['Id']+'\')">';
                                list += '                <i class="ace-icon fa fa-trash-o bigger-110 bigger-110 red"></i>';
                                list += '                删除办公室';
                                list += '        </button>';
                                list += '    </td>';
                                list += '</tr>';
                                
                            }
                           // console.log(list);
                            $("#list-body").html(list);

                            $('.m-style').pagination({
                                pageCount:result.CountPage,
                                current:page,
                                prevContent: "上一页",
                                nextContent: "下一页",
                                jump: true,
                                callback: function (api) {
                                    console.log(api.getCurrent())
                                    getList(api.getCurrent() );
                                }
                            });
                          }
                             //权限按钮控制
                            deleteNoPermissionButton();

						}else{
                            toastr.error(result.Message);
                        }
					},
					//请求失败，包含具体的错误信息
					error : function(e){
						toastr.error("系统繁忙，请稍候再试");
					}
				});

            }
        
            //添加办公室
			function addOffice(){
				$("#addModal").modal("show");
            }

            function confirmAdd() {
                var name = $("#add-name").val();
                if (name == '') {
                    toastr.warning("办公室名字不能为空");
                    return false;
                }
                var serial_number = $("#add-serial-number").val();
                if (serial_number == '') {
                    toastr.warning("办公室编号不能为空");
                    return false;
                }

                var ajax_data = {"name" : name, "serial_number" : serial_number};
                $.ajax({
					type : "POST",
					url : "/admin/officesetting/add",
					data : ajax_data,
					dataType: "json",
					//请求成功
					success : function(result) {
						if ( result.Code == 000 ){
                            toastr.success(result.Message);
                            setTimeout(function () {
                                location.reload(); 
                            },2000);	
						}else{
                            toastr.error(result.Message);
                        }
					},
					//请求失败，包含具体的错误信息
					error : function(e){
						toastr.error("系统繁忙，请稍候再试");
					}
				});
            }

            //修改办公室
            function modifyOffice(idx,id){
                let item = dataList[idx];
                $("#modify-name").val(item['Name']);
                $("#modify-id").val(item['Id']);
                $("#modify-serial-number").val(item['SerialNumber']);
                $("#modifyModal").modal("show")
            }

            function confirmModify() {
                var id = $("#modify-id").val();
                if (id == '') {
                    toastr.warning("办公室id不能为空");
                    return false;
                }
                var name = $("#modify-name").val();
                if (name == '') {
                    toastr.warning("办公室名字不能为空");
                    return false;
                }
                var serial_number = $("#modify-serial-number").val();
                if (serial_number == '') {
                    toastr.warning("办公室编号不能为空");
                    return false;
                }

                var ajax_data = {"id" : id, "name" : name, "serial_number" : serial_number};
                $.ajax({
					type : "POST",
					url : "/admin/officesetting/modify",
					data : ajax_data,
					dataType: "json",
					//请求成功
					success : function(result) {
						if ( result.Code == 000 ){
                            toastr.success(result.Message);
                            setTimeout(function () {
                                location.reload(); 
                            },2000);	
						}else{
                            toastr.error(result.Message);
                        }
					},
					//请求失败，包含具体的错误信息
					error : function(e){
						toastr.error("系统繁忙，请稍候再试");
					}
				});
            }
             //删除
			function deleteOffice(id){
                $("#delId").val(id);
                $("#deleteModal").modal("show");
            }
            //确认删除
            function confirmDel(){
                var id = $("#delId").val();
                
                if(id == ''){
                    console.log('id:'+id);
                    toastr.warning("删除办公室出错，请重新操作");
                    return false;
                }
                console.log(id);
                $.ajax({
					type : "POST",
					url : "/admin/officesetting/delete",
					data : { "id" : id },
					dataType: "json",
					//请求成功
					success : function(result) {
                        $("#delId").val('');
                        $("#deleteModal").modal("hide");
						if ( result.Code == 000 ){
                            toastr.success("删除成功");
                            setTimeout(function () {
                                location.reload(); 
                            },2000);	
						}else{
                            toastr.error(result.Message);
                        }
					},
					//请求失败，包含具体的错误信息
					error : function(e){
                        $("#delId").val('');
                        $("#deleteModal").modal("hide");
						toastr.error("系统繁忙，请稍候再试");
					}
				});

            }

		</script>