
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/admin/js/popper.min.js"></script>
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/bootstrap-page-handler.js"></script>
<script src="/static/admin/js/utils.js"></script>
<script src="/static/admin/js/validator.js"></script>
<script src="/static/admin/js/vue.min.js"></script>
<script src="/static/admin/js/jdialog/JDialog.min.js"></script>
<script src="/static/admin/js/main.min.js"></script>
<script>
	/* === pre-loader init === */
	$(window).on("load", function() {
		$('#st-preloader').fadeOut();
		$('.st-preloader-circle').delay(350).fadeOut('slow');
	});
</script>