
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon green"></i>
								<a href="/admin/jump/welcome">Home</a>
							</li>
							<li class="active">欢迎</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="page-content">
						<div class="row" style="margin-top: 25%;" >
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                <div class="center" >
                                    <h1>
                                         <span class="blue">欢迎使用  </span>   
                                        <i class="ace-icon fa fa-leaf green"></i>
                                        <span class="red"> GO OA</span>
                                        <span class="blue" id="id-text2">系统</span>
                                    </h1>
								</div>
								<div class="center">
										<span class="btn btn-app btn-sm btn-light no-hover">
										  <span class="line-height-1 bigger-170 blue">更</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
										<span class="btn btn-app btn-sm btn-yellow no-hover">
										  <span class="line-height-1 bigger-170">多</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
										<span class="btn btn-app btn-sm btn-pink no-hover">
										  <span class="line-height-1 bigger-170">功</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
										<span class="btn btn-app btn-sm btn-grey no-hover">
										  <span class="line-height-1 bigger-170">能</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
										<span class="btn btn-app btn-sm btn-success no-hover">
										  <span class="line-height-1 bigger-170">尽</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
										<span class="btn btn-app btn-sm btn-primary no-hover">
										  <span class="line-height-1 bigger-170">请</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
										<span class="btn btn-app btn-sm btn-purple no-hover">
										  <span class="line-height-1 bigger-170">期</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
										<span class="btn btn-app btn-sm btn-danger no-hover">
										  <span class="line-height-1 bigger-170">待</span>
										  <br>
										  <span class="line-height-1 smaller-90"></span></span>
									  </div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
		