<style type="text/css">
    .tree .tree-item.tree-selected, .tree .tree-item.tree-selected:hover {
        background-color: rgba(255, 164, 49, 0.32);
    }
    .tree .tree-branch.tree-selected>.tree-branch-header {
        background-color: rgba(255, 164, 49, 0.32);
    }
    .widget-color-blue2 {
         border-color: #ffffff; 
    }
    .widget-box {
        padding: 0;
        box-shadow: none;
        margin: 3px 0;
        /* border: 1px solid #CCC; */
    }
    .wysiwyg-editor {
        max-height: 600px;
        height: 500px;
    }
</style>